<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Routing Path System</title>
  <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link th:rel="stylesheet" th:href="@{/css/custom-style.css}">
  <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="~{fragments/nav-bar::nav-bar}"></div>

<div class="container">
  <h1 class="display-6">Welcome to Admin Page</h1>
  <p><span th:text="${adminHome}"></span></p>
</div>
<div>
  <!-- Go to ShowEmployeeListForEditController -->
  <a th:href="@{/adminEditEmployee}">แก้ไขข้อมูลพนักงาน</a>
</div>
</body>
</html>