<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RPS</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/custom-style.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
</head>
<body>
<div th:insert="~{fragments/nav-bar::nav-bar}"></div>

<div class="container my-4">
    <h2 class="text-center mb-4">จัดสรรงานให้รถขนส่ง <u><span th:text="${car.carId}"></span></u></h2>

    <form action="#" th:action="@{/assign-work/save}" th:object="${noticeRequest}" method="POST">
    <div class="mb-3">
            <strong><label for="estimatedStartTime">กรอกเวลาเริ่มงานที่ประเมิน :</label></strong>
            <input id="estimatedStartTime" type="date" name="start_work_date"
                   th:value="*{start_work_date}" />
    </div>

    <div class="mb-3">
        <p><strong>เวลาส่งมอบสินค้า :</strong> <span th:text="${delivery.deliverDateTime}"></span></p>
        <p><strong>สถานที่ปลายทาง :</strong> <span th:text="${delivery.destination}"></span></p>
        <p><strong>รหัสพนักงานขับรถ :</strong> <span th:text="${car.driverId}"></span></p>
        <p><strong>ชนิดรถ :</strong> <span th:text="${car.carType}"></span></p>
    </div>

        <input type="hidden" name="deliveryId" th:value="${delivery.deliveryId}">
        <input type="hidden" name="carId" th:value="${car.carId}">

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>รหัสสินค้า</th>
                    <th>รายละเอียดสินค้า</th>
                    <th>จำนวนสินค้า</th>
                    <th>จำนวนสินค้าที่จัดสรร</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${unassignedProducts}">
                    <td><span th:text="${product.id}"></span></td>
                    <td><span th:text="${product.productDetail}"></span></td>
                    <td><span th:text="${product.productCount}"></span></td>
                    <td>
                        <input type="number" class="form-control" name="assignedQuantity"
                               th:value="0" min="0" th:max="${product.productCount}">
                        <input type="hidden" name="productId" th:value="${product.id}">
                        <div th:if="${errorMessage}" class="alert alert-danger">
                            <p th:text="${errorMessage}"></p>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="d-grid gap-2 mt-1">
            <button type="submit" class="btn btn-primary">บันทึกการจัดสรรงาน</button>
        </div>
    </form>
</div>

<script>
    // Set current date and time as the minimum for estimatedTime input
    const estimatedTimeInput = document.getElementById("estimatedStartTime");
    const now = new Date();
    const formattedNow = now.toISOString().slice(0, 16); // Format for datetime-local input (YYYY-MM-DDTHH:MM)
    // estimatedTimeInput.min = formattedNow;

    // Automatically submit the form when estimatedTime changes
    estimatedTimeInput.addEventListener("change", function() {
        document.getElementById("filterForm").submit();
    });
</script>

</body>
</html>