<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RPS</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/custom-style.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="~{fragments/nav-bar::nav-bar}"></div>

<div class="container">
    <div class="center-box text-center">
        <h4 class="mb-3">เปลี่ยนรหัสผ่าน</h4>
        <form action="#" th:action="@{/edit-password}" method="POST" th:object="${editPassword}">

            <div id="success-msg" class="alert alert-success"
                 th:if="${success}">
                การเปลี่ยนแปลงรหัสผ่านสำเร็จ!
            </div>

            <div class="mb-3">
                <label for="inputOldPassword" class="form-label w-100 text-start px-3">รหัสผ่านเดิม</label>
                <input id="inputOldPassword" type="text" class="form-control"
                       th:field="*{oldPassword}"
                       placeholder="รหัสผ่านเดิม">
                <div class="alert alert-warning mt-1 w-100 text-start px-3" th:if="${#fields.hasErrors('oldPassword')}"
                     th:errors="*{oldPassword}"></div>
            </div>

            <div class="mb-3">
                <label for="inputNewPassword" class="form-label w-100 text-start px-3">รหัสผ่านใหม่</label>
                <input id="inputNewPassword" type="text" class="form-control"
                       th:field="*{newPassword}"
                       placeholder="รหัสผ่านใหม่">
                <div class="alert alert-warning mt-1 w-100 text-start px-3" th:if="${#fields.hasErrors('newPassword')}"
                     th:errors="*{newPassword}"></div>
            </div>

            <div class="mb-3">
                <label for="inputConfirmPassword" class="form-label w-100 text-start px-3">ยืนยันรหัสผ่านใหม่</label>
                <input id="inputConfirmPassword" type="text" class="form-control"
                       th:field="*{confirmPassword}"
                       placeholder="ยืนยันรหัสผ่านใหม่">
                <div class="alert alert-warning mt-1 w-100 text-start px-3"
                     th:if="${#fields.hasErrors('confirmPassword')}"
                     th:errors="*{confirmPassword}"></div>
            </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>