<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>RPS</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/custom-style.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="~{fragments/nav-bar::nav-bar}"></div>

<div>
    <div sec:authorize="!hasAuthority('ADMIN')">
        <a th:href="@{/edit-password}">แก้ไขรหัสผ่าน</a>
    </div>

    <div sec:authorize="hasAuthority('ADMIN')">
        <a th:href="@{/adminEditEmployee}">แก้ไขข้อมูลพนักงาน</a>
    </div>

    <div sec:authorize="hasAuthority('HR')">
        <a th:href="@{/employee/register}">ลงทะเบียนพนักงาน</a>
    </div>

    <div sec:authorize="hasAuthority('SALE_MANAGER')">
        <a th:href="@{/customer/register}">ลงทะเบียนลูกค้า</a>
        <a th:href="@{/customers}">แก้ไขข้อมูลลูกค้า</a>
        <a th:href="@{/create-delivery}">กรอกรายละเอียดงาน</a>
        <a th:href="@{/delivery-list}">แก้ไขรายละเอียดงาน</a>
        <a th:href="@{/unsent-list}">ส่งรายละเอียดให้ลูกค้า</a>
        <a th:href="@{/handoff}">ส่งมอบสินค้า</a>
    </div>

    <div sec:authorize="hasAuthority('DRIVER')">
        <a th:href="@{/driver-home-list-job}">ลงทะเบียนรถขนส่ง</a>
    </div>

    <div sec:authorize="hasAuthority('MANAGER')">
        <a th:href="@{/cars}">ลงทะเบียนรถขนส่ง</a>
    </div>

</div>

</body>
</html>